body {
    background: url(/public/img/body.png);
}
.game {
    margin-left: 12.5%;
    width: 75%;
}
.tela {
    height: 420px;
    border: solid #202020 2px;
    border-radius: 2px;
    position: relative;
}
#char > img{
    width: 80px;
    height: 75px;
}
.menu {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caixa {
    z-index: 2;
    background-color: #303030;
    border: solid black 2px;
    border-radius: 6px;
    text-align: center;
}
.caixa.pequena {
    width: fit-content;
    padding-right: 5%;
    padding-left: 5%;
}
.menu > .caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
}
.menu > .caixa.pequena {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}    
.barra {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    border-radius: 6px;
    background-color: white;
}
.hidden { 
    display: none;
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .game {
        width: 98%;
        margin-left:1%;
    }
    .tela {
    height: 320px;
    }
    .menu {
    height: 260px;
    }
}