body {
    background: url(/public/img/body.png);;
}
.game {
    width: 75%;
    margin-left: 12.5%;
}
.tela {
    height: 420px;
    position: relative;
    background: url('/public/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #202020 2px;
    border-radius: 2px;
}
#char > img{
    width: 60px;
    height: 80px;
}
.faixa1 {
    position: absolute;
    top: 0;
    left: 0;
}
.faixa2 {
    position: absolute;
    top: 1%;
    right: 1%;
}
.faixa3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.faixa4 {
    position: absolute;
    bottom: 1%;
    left: 1%;
}
.char > img {
    width: 180px;
    height: 234px;
}
.char.r2 {
    right: 19%;
}
.char.r3 {
    right: 37%;
}
.char.l2 {
    left: 19%;
}
.char.l3 {
    left: 37%;
}
.menu {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caixa {
    background-color: #303030;
    border: solid black 2px;
    border-radius: 6px;
    text-align: center;
}
.caixa.pequena {
    width: fit-content;
    padding-right: 5%;
    padding-left: 5%;
}
.menu > .caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
}
.menu > .caixa.pequena {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}    
.barra {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    border-radius: 6px;
    background-color: white;
}
.hidden { 
    display: none;
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .game {
        width: 98%;
        margin-left:1%;
    }
    .tela {
    height: 320px;
    background: url('/public/img/mapmobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
    .menu {
    height: 260px;
    }
    .char > img {
    width: 129px;
    height: 156px;
    }
}