.tela {
    height: 520px;    
    overflow: hidden;
}
.menu {
    height: 126px;
}
#char {
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 45%;
    right: 45%;
    z-index: 100;
}
#fundo {
    position: absolute;
}
.evento {
    position: absolute;
    width: 56px;
    height: 56px;
    z-index: 100;
}
.hidden { 
    display: none;
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .tela {
    height: 360px;
    }
    .menu {
    height: 120px;
    }
    #char {
        width: 36px;
        height: 36px;
    }
    #evento {
        width: 36px;
        height: 36px;
    }
}