.inimigo {
    position: absolute;
    bottom: 20%;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.aliado {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.size2 > img {
    width: 180px;
    height: 240px;
}
.size3 > img {
    width: 200px;
    height: 280px;
}
.size4 > img {
    width: 336px;
    height: 240px;
}
.aliado > .char > img {
    width: 180px;
    height: 80px;
}
.aliado > .char {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.char > .caixa {
    background-color: #616161;
}
.tela.map {    
    background: url('/public/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.tela.forest {
    background: url('/public/img/backForest.png');
    background-repeat: no-repeat;
    background-size: cover;
    }

@media only screen and (max-width: 768px) {
    .tela.map {
        background: url('/public/img/mapmobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tela.forest {
        background: url('/public/img/backForestmobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .char > .caixa {
    background-color: #616161;
    }
    .size2 > img {
    width: 64px;
    height: 86px;
    }
    .size3 > img {
    width: 72px;
    height: 98px;
    }
    .size4 > img {
    width: 120px;
    height: 90px;
}
    .aliado > .char > img {
    width: 72px;
    height: 30px;
    }
    .inimigo {
        bottom: 50%;
    }
}